@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?68402929');
      src: url('./font/fontello.eot?68402929#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?68402929') format('woff'),
           url('./font/fontello.ttf?68402929') format('truetype'),
           url('./font/fontello.svg?68402929#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

body {
	font-family: 'Ubuntu', sans-serif;	
	font-weight:300;
	font-size:100%;
	padding-top:120px;
	/*background:#333;*/
}

a {
	text-decoration:none;
	color:#333;	
	font-weight:700;
}

.wrapper , main {
	width:100%;
	max-width:960px;
	width:960px;
	margin:0 auto;
	position:relative;
	display:block;
}
.wrapper ul li {
	display:inline-block;
	margin-right:-4px;
	box-sizing:border-box;
}

/*HEADER*/
header {
	width:100%;
	background:#f78e06;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	border-bottom:1px solid #333;
	-webkit-box-shadow: 0px 0px 10px 2px #111;
	-moz-box-shadow: 0px 0px 10px 2px #111;
	box-shadow: 0px 0px 10px 2px #111;
}
header figure {
	width:90px;	
	display:inline-block;
	vertical-align:top;
	padding:0.5% 0;
}
header figure img {
	width:100%;
	display:block;
	margin-bottom:-2px;
}
header .primary {
	width:75.5%;
	margin-left:2%;
	display:inline-block;
	vertical-align:bottom;
	text-transform:uppercase;
}
header .primary ul li {
	width:20%;
	width:calc(100% / 5);	
	text-align:center;
	font-size:120%;
}
header .primary ul li a {
	width:99%;
	display:block;
	padding:8% 0;
	border-bottom:none;
	border-radius:8px 8px 0 0;
	color:#333;
	font-weight:normal;
}
header .primary ul li a:hover {
	color:#fff;
	background:#333;
	border-radius:10px 10px 0 0;	
}
header .primary ul li:last-child {
	width:inherit;
	position:absolute;
	right:0px;
	bottom:0px;	
}
header .primary ul li:last-child a {
	width:100%;
	background:#333;
	border-radius:10px 10px 0 0;
	color:#fff;
	padding:8% 8%;
	border:none;
}
header .primary ul li:last-child a:hover {
	background:#f78e06;
	color:#333;
}
header .secondary {
	width:300px;
	position:absolute;
	top:15px;
	right:0px;
}
header .secondary ul {		
	text-align:right;
}
header .secondary ul li{
	padding:0px 0px 0px 15px;
	text-transform:capitalize;
	position:relative;	
}
header .secondary ul li label , header .secondary ul li label:after {
	font-family: "fontello";
	font-size:1.5em;
	color:#333;
	position:relative;
	z-index:4;
	cursor:pointer;
}
#search {
	width:0px; 
	overflow:hidden;		
	-webkit-transition: width 1s; /* Safari */
	transition:width 1s;
	position:absolute;
	right:23px;
	top:0px;
}
#search input {
	width:98%;
	border:none;
	border-bottom:1px solid #333;
	font-size:1.2em;
	font-family: 'Ubuntu', sans-serif;
	background:#f78e06;
	color:#333;
}
#search-button {
	display:none;
}
#search-button:checked ~ div#search {
	width:300px;
	z-index:5;
}
#search-button:checked ~ label[for='search-button']:after {
	content:'x';
	position:absolute;
	z-index:6;
	display:block;	
	right:0px;
	padding:0 8%;
	top:0px;
	background:#f78e06;
	font-weight:600;
	font-size:1.2em;
	font-family: 'Ubuntu', sans-serif;
}
/*HEADER*/

/*FOOTER*/
footer {
	width:100%;
	background:#333;
	color:#eee;
	border-top:1px solid #f78e06;	
	padding:1% 0;
	font-size:0.90em;
}
footer a {
	color:#f78e06;
}
footer nav {
	width:50%;
	display:inline-block;
	margin-right:-4px;
	text-transform:capitalize;
	margin-bottom:3%;
}
footer nav ul li {
	padding:0 4% 0 0;
}
footer .secondary {
	text-align:right;	
}
footer .secondary li:nth-of-type(3) {
	padding-right:0px;	
}
footer ul #credits , footer ul #social , footer span {
	width:33%;
	width:calc(100% / 3);
	display:inline-block;
	margin-right:-4px;
	vertical-align:bottom;	
}
footer ul #credits li {
	vertical-align:middle;	
}
footer ul #social {
	text-align:right;	
}
footer ul #social li:nth-of-type(1) {
	display:block;
	margin-bottom:2%;
}
footer ul #social li a {
	width:80%;
	padding:0 10%;
	font-family: "fontello";
	display:block;
	font-style: normal;
	font-weight: normal;
	speak: none;
	font-size:2em;
}
/*FOOTER*/

/*MAIN HP*/
main {	
	position:relative;
	z-index:99;
}
/*gallery*/
#gallery {
	width:100%;
	position:relative;
	-webkit-box-shadow: 0px 0px 2px 2px #111;
	-moz-box-shadow: 0px 0px 2px 2px #111;
	box-shadow: 0px 0px 2px 2px #111;
	border:1px solid #000;
	border-left:0px;
	border-right:0px;
	margin-bottom:2%;
}
#gallery img {
	width:100%;
	display:block;	
}
/*#gallery ul li:nth-of-type(1){
	width:100%;	
	display:block;
	padding:0;
	margin-bottom:2%;
}*/
#gallery figcaption {
	width:96%;
	padding:4% 2%;
	position:absolute;
	background:rgba(39,39,39,0.8);
	color:#fff;
	bottom:0px;	
	left:0px;
}
#gallery figure:nth-of-type(1) {
	width:100%;	
	padding:0;
	position:relative;
}
#gallery figure figcaption {
	font-size:300%;
}
#gallery figure figcaption h1 {
	width:50%;	
}
#gallery ul {
	width:45%;
	position:absolute;
	right:1%;
	bottom:4%;	
}
#gallery ul li {
	width:23%;
	display:inline-block;
	margin-right:-4px;
	padding:0 1%;
}
#gallery ul li:nth-of-type(1){
	padding-left:0;
}
#gallery ul li:last-child{
	padding-right:0;
}
#gallery ul li figure {
	position:relative;	
	overflow:hidden;	
	-webkit-box-shadow: 0 0 2px 2px #111;
	-moz-box-shadow: 0 0 2px 2px #111;
	box-shadow: 0 0 2px 2px #111;
	border:4px solid #333;
}
#gallery ul li figure figcaption {
	height:0;
	margin-bottom:-20px;
	overflow:hidden;
	-webkit-transition: height 1s; /* Safari */
    transition:height 1s;
	font-size:0.90em;
}
#gallery ul li figure:hover {
	border:4px solid #F78E06;	
}
#gallery ul li figure:hover figcaption {
	height:40%;
	margin-bottom:0;
}
/*DA IMPLEMENTARE DOPO*/
/*palinsesto*/
#palinsesto {
	margin:5% 0;
}
#palinsesto a {
	color:#fff;
}
#palinsesto input[type=radio] {
	display:none;	
}
#palinsesto label {
	width:14.2%;
	width:calc(100% / 7);	
	display:inline-block;
	margin-right:-6px;
	padding:2% 0;
	text-align:center;
	border-radius:8px 8px 0 0;
	border:1px solid #fff;
	border-bottom:none;		
	position:relative;
	z-index:0;
	font-weight:400;
	text-transform:capitalize;
	cursor:pointer;
}
#palinsesto label:nth-of-type(7) {
	margin-left:1px;
}
#palinsesto label:hover,
#palinsesto input[type=radio]:checked + label {
	border:1px solid #f78e06;
	border-bottom:none;	
	background:url(../img/pattern.png) repeat;
	z-index:3;
	color:#fff;
}
#palinsesto article {
	width:100%;
	border:1px solid #f78e06;
	box-sizing:border-box;
	min-height:300px;
	display:none;
	/*background:#333;*/
	background:url(../img/pattern.png) repeat;
	position:relative;
	z-index:1;
	margin-top:-1px;
	color:#fff;
}
#palinsesto input[type=radio]#first:checked ~ article#firstday,
#palinsesto input[type=radio]#second:checked ~ article#secondday,
#palinsesto input[type=radio]#third:checked ~ article#thirday,
#palinsesto input[type=radio]#fourth:checked ~ article#fourthday,
#palinsesto input[type=radio]#fifth:checked ~ article#fifthday,
#palinsesto input[type=radio]#sixth:checked ~ article#sixthday,
#palinsesto input[type=radio]#seventh:checked ~ article#seventhday{
	display:block !important;
}
#palinsesto dl {
	width:21%;
	height:100%;
	display:inline-block;
	margin-right:-4px;
	/*padding:2% 3.8% 2% 1%;*/
	padding:2% 4% 2% 0%;
	position:relative;
	text-shadow:0 1px 1px #000;
}
#palinsesto dl:after {
	content:'';
	width:1px;
	background:#222;
	height:70%;
	vertical-align:middle;
	display:block;
	position:absolute;
	top:20%;
	right:0;	
}
#palinsesto dl:last-child:after,
#palinsesto dd:last-child:after {
	display:none;	
}
/*#palinsesto dl:last-child{
	padding:2% 0 2% 0;
}*/
#palinsesto dl h3 {
	width:100%;
	margin-bottom:7%;
	text-transform:uppercase;
	color:#ccc;	
	text-align:center;
}
#palinsesto dl dt {
	margin-left:2%;
}
#palinsesto dl dt , #palinsesto dl dd {
	display:inline-block;
	padding:6% 2%;
	margin-right: 4px;
	position:relative;
}
#palinsesto dl dd:after {
	content:'';
	width:150%;
	height:1px;
	display:block;
	background:#111;
	position:absolute;
	bottom:2px;
	left:-25%;
}
#palinsesto dl dd {
	width:60%;	
}
#palinsesto dl dd span.categoria {
	border:1px solid #333;
	border-radius:4px;
	padding:1%;
	font-size:0.60em;
	background:#f78e06;
}
#palinsesto dl dd a[itemprop='name'] {
	margin:5% 0 2% 0;
	display:block;
	text-transform:capitalize;
	font-weight:600;
}
/*MAIN HP*/
